{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "dataLovers": false, "P0KEMON": false
  },
  "rules": {
    "no-console": 0,
    "semi": 2
  }
}
